*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* TODAS LAS PAGINAS */

/* body{
    background-color: rgb(255, 255, 0);
    
} */

.navbar{
    z-index: 100;
}


.navbar ul a:hover{
    transform: scale(1.2);
}




.navbar-brand{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: brown;
}

header h2 {
    position:relative;
    text-align: center;
    text-transform: uppercase;
    color: brown;
    font-size: 50px;

}

header h2 span{
    position: absolute;
    right: 0;
    width: 0 ;
    background: white ;
    animation: maquina 3s;
}

.nav-link:hover{
    font-weight: 700;
}

header .header-iconos{
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    
    
}

header .header-iconos img{
    width: 40px;
    padding: 15px;
}

.header-menu ul{
    list-style: none;
    position: absolute;
    padding: 0;
    left: 19%;
    top: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    
        
}

.header-menu ul li{
    
    display: inline-block;
    position: relative;
    padding: 0 10px 0 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    right: 10px;
    bottom: 10px;
    background-image: linear-gradient(to bottom, brown, white);
}

.header-menu ul li:hover{
    background-color: #00000073;
}

.header-menu ul li a{
    text-decoration: none;
    color: black;

}


footer{
    height: 50px;    
}

footer .bi:hover{
    transform: scale(1.3);
}










/* INDEX */

.slide{
    margin-top: 10px;
}

.container-lg{
    width: 100%;    
    padding: 20px;
    font-size: 12px;
    font-weight: 700;
    text-align: center; 
    border-top: 1px solid black; 
    border-bottom: 1px solid black;  
}

.containerIndex{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.containerIndex img{
    opacity: .7;
    display: flex;
    width: 200px;
    height: 200px;
    margin: 0 40px;
    border: 3px solid white;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

.containerIndex img:hover{
    opacity: 1;
    transform: scale(1.4);
}

#carouselIndex{
    margin: 20px auto;
    width: 95%;
    z-index: -1;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}


/* NOSOTROS */

.container-nos-title h3{
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-weight: 700;
}

.container-nos p{
    font-weight: 600;
    text-align: center;
    padding: 5px 20px;
    margin: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* PRODUCTOS */

.rowPanificacion{
    border-bottom: 1px solid black;
}

.rowPanificacion h3{
    font-weight: 700;
}

.rowDulces{
    border-bottom: 1px solid black;
}

.rowDulces h3{
    font-weight: 700;
}

.rowTortas{
    border-bottom: 1px solid black;
}

.containerProductos{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.containerProductos img{
    opacity: .7;
    display: flex;
    width: 7rem;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 3px solid white;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

.containerProductos img:hover{
    opacity: 1;
    transform: scale(1.25);
}










/* SERVICIOS */
/* .container-serv{
    display: flex;
} */

.row-serv{
    margin: 10px;
    font-weight: 700;
    text-align: center;
}

.h3{
    font-weight: 700;
}

.col-serv-img img{
    opacity: .7;
    margin: 10px;
    width: 8rem;
    height: auto;
    border: 3px solid white;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

.col-serv-img img:hover{
    opacity: 1;
    transform: scale(1.25);
}






/* CONTACTO */

.mb-3 .form-label{
    display: flex;
    font-weight: 700;
    justify-content: center;
}

.form-control{
    border-color: black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

.form-control:hover{
    background-color: lightgrey;
}

.contacto{
    font-weight: 700;
}


button {
    margin: 0 auto;  
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    color: black;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   button:hover span {
    transform: translateX(5em);
   }
   
   button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   
   

.embed-container-map {
    margin: 10px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}
.embed-container-map iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
}

@media (max-width: 720px) {
    .containerIndex{
        display: none;
    }

    .navbar-brand{
        margin: 0 auto;
    }

    .navbar ul a:hover{
        transform: none;
    }

    .container-servicios{
        flex-direction: column;
    }
}


@media (min-width: 720px) {
    #carouselIndex{
        display: none;
    }

    .mb-3{
        margin: 0 auto;
        width: 50%;
    }

    .embed-container-map{
        margin: 0 auto;
        width: 50%;
    }

    .col-serv-img img{
        width: 10rem;
        height: auto;
    }

    .containerProductos img{
        width: 9.5rem;
        height: auto;
    }
    
}



