footer{
    height: 50px;
    .me-5{
        font-weight: 700;
    }
    .text-center{
        font-weight: 700;
    }  
}

$redesSociales: (
    facebook: blue,
    youtube: red,
    instragram: blueviolet,
    whatsapp: green,
);

@each $nombre, $valor in $redesSociales {
    .bi-#{$nombre} {
        color: $valor
    }
}