*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

$border: 1px solid black;
$textFontSize: 18px;
$negrita: 700;
$colores: (
    background: #fbf2d5,
    texto: black,
    logo: brown,
);
